.question {
  margin: 1rem 0;
  border: 2px solid #000;
}

.question div {
  padding: 1rem;
}

.question select {
  padding: 0.5rem;
}

.question button {
  border: none;
  background-color: #fff;
  padding: 0.5rem 2rem;
  border: 2px solid #000;
}
